.button{
    -fx-background-color: #2196f3;
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-color: #2199ff;
}

.button{
    -fx-background-color: #a4a4a4;
    -fx-text-fill: black;
    -fx-border-color:#8a8888;
}

.button:hover{
    -fx-background-color: #bfbfbf;
}








